.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.cursor
__pycache__

# Local browser profiles
data/otto_chrome_profile/

# Logs
logs/
*.log
*key*.json
*temp
*.mp4

#temp
temp/

otto.txt